<div class="row">
    <div class="col-xs 12 col-sm-10 col-md-8 col-md-offset-2">
      <form (ngSubmit)= "onSignin(signinForm)" #signinForm="ngForm">
        <div class="form-group">
          <label for="email">Mail</label>
          <input class="form-control" type="email" id="email" name="email" ngModel required #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Vennligst skriv inn en gyldig email</span>
        </div>
        <div class="form-group">
          <label for="password">Passord</label>
          <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          ngModel
          required
          pattern="^.{6,}$">
          <span class="help-block"></span>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!signinForm.valid">Logg inn</button>
      </form>
    </div>
  </div>

